In [1]:
import pandas as pd
import math
import numpy as np

In [2]:
#DATA_DIR = '/Users/39388/Downloads/'

In [3]:
all_data = pd.read_csv('all_matches_modified.csv')

all_data["total_runs"] = all_data['runs_off_bat'].astype(int) + all_data["extras"]
all_data["runs_conceded_bowler"] = all_data['runs_off_bat'].astype(int) + all_data["wides"] + all_data["noballs"]+ all_data["penalty"]
all_data["wicket_1_0"]= all_data["other_wicket_type"]
all_data['wicket_1_0'] = all_data['player_dismissed'] != '0'


all_data_2020 = all_data[all_data.season.isin(['2019/2020','2020/21'])]
all_data.loc[all_data['start_date'].str.contains('2020'), 'season'] = '2020'
all_data_2020 = all_data[all_data.season.isin(['2020'])]

all_data_2021 = all_data[all_data.season.isin(['2019/2020','2020/21','2021/22'])]
all_data.loc[all_data['start_date'].str.contains('2021'), 'season'] = '2021'
all_data_2021 = all_data[all_data.season.isin(['2021'])]

all_data_2022 = all_data[all_data.season.isin(['2019/2020','2020/21','2021/22','2022'])]
all_data.loc[all_data['start_date'].str.contains('2022'), 'season'] = '2022'
all_data_2022 = all_data[all_data.season.isin(['2022'])]

all_data_2020

,Unnamed: 0,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,...,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,is_four,is_six,total_runs,runs_conceded_bowler,wicket_1_0
13173,13173,1211642,2020,2020-02-20,National Stadium,1,0.1,Islamabad United,Quetta Gladiators,C Munro,...,0.0,caught and bowled,C Munro,0.0,0.0,False,False,0,0.0,True
13174,13174,1211642,2020,2020-02-20,National Stadium,1,0.2,Islamabad United,Quetta Gladiators,DJ Malan,...,0.0,0,0,0.0,0.0,False,False,0,0.0,False
13175,13175,1211642,2020,2020-02-20,National Stadium,1,0.3,Islamabad United,Quetta Gladiators,DJ Malan,...,0.0,0,0,0.0,0.0,False,False,1,1.0,False
13176,13176,1211642,2020,2020-02-20,National Stadium,1,0.4,Islamabad United,Quetta Gladiators,L Ronchi,...,0.0,0,0,0.0,0.0,True,False,4,4.0,False
13177,13177,1211642,2020,2020-02-20,National Stadium,1,0.5,Islamabad United,Quetta Gladiators,L Ronchi,...,0.0,0,0,0.0,0.0,False,False,0,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33781,33781,1231146,2020,2020-11-17,National Stadium,2,17.6,Karachi Kings,Lahore Qalandars,Imad Wasim,...,0.0,0,0,0.0,0.0,False,False,1,1.0,False
33782,33782,1231146,2020,2020-11-17,National Stadium,2,18.1,Karachi Kings,Lahore Qalandars,Imad Wasim,...,0.0,0,0,0.0,0.0,False,False,0,0.0,False
33783,33783,1231146,2020,2020-11-17,National Stadium,2,18.2,Karachi Kings,Lahore Qalandars,Imad Wasim,...,0.0,0,0,0.0,0.0,False,False,1,1.0,False
33784,33784,1231146,2020,2020-11-17,National Stadium,2,18.3,Karachi Kings,Lahore Qalandars,Babar Azam,...,0.0,0,0,0.0,0.0,False,False,1,1.0,False
33785,33785,1231146,2020,2020-11-17,National Stadium,2,18.4,Karachi Kings,Lahore Qalandars,Imad Wasim,...,0.0,0,0,0.0,0.0,True,False,4,4.0,False

In [4]:
All_data_copy = all_data_2020.groupby(["match_id","batting_team","innings"]).agg({'ball':'count','total_runs': 'sum','player_dismissed':lambda x:(x!='0').sum()}).reset_index()
All_data_copy

    match_id       batting_team  innings  ball  total_runs  player_dismissed
0    1211642   Islamabad United        1   119         168                10
1    1211642  Quetta Gladiators        2   114         171                 7
2    1211643      Karachi Kings        1   127         201                 4
3    1211643     Peshawar Zalmi        2   124         191                 7
4    1211644   Lahore Qalandars        1   122         138                 8
..       ...                ...      ...   ...         ...               ...
60   1211673     Peshawar Zalmi        1   122         170                 9
61   1211675   Lahore Qalandars        1   124         182                 6
62   1211675     Multan Sultans        2   118         157                10
63   1231146      Karachi Kings        2   117         135                 5
64   1231146   Lahore Qalandars        1   125         134                 7

[65 rows x 6 columns]

In [5]:
all_data_First_six_overs=all_data_2020.loc[all_data_2020['ball']< 6]
all_data_last_five_overs=all_data_2020.loc[all_data_2020['ball']> 15]

In [6]:
all_data_First_six_overs = all_data_First_six_overs.groupby(["match_id","batting_team","innings"]).agg({'ball':'count','total_runs': 'sum','player_dismissed':lambda x:(x!='0').sum()}).reset_index()
all_data_First_six_overs

    match_id       batting_team  innings  ball  total_runs  player_dismissed
0    1211642   Islamabad United        1    38          55                 2
1    1211642  Quetta Gladiators        2    36          36                 3
2    1211643      Karachi Kings        1    40          57                 1
3    1211643     Peshawar Zalmi        2    36          50                 2
4    1211644   Lahore Qalandars        1    37          61                 2
..       ...                ...      ...   ...         ...               ...
60   1211673     Peshawar Zalmi        1    37          38                 2
61   1211675   Lahore Qalandars        1    39          54                 2
62   1211675     Multan Sultans        2    37          63                 1
63   1231146      Karachi Kings        2    39          43                 1
64   1231146   Lahore Qalandars        1    40          37                 0

[65 rows x 6 columns]

In [7]:

all_data_last_five_overs = all_data_last_five_overs.groupby(["match_id","batting_team","innings"]).agg({'ball':'count','total_runs': 'sum','player_dismissed':lambda x:(x!='0').sum()}).reset_index()
all_data_last_five_overs

    match_id       batting_team  innings  ball  total_runs  player_dismissed
0    1211642   Islamabad United        1    27          40                 5
1    1211642  Quetta Gladiators        2    22          41                 2
2    1211643      Karachi Kings        1    33          55                 2
3    1211643     Peshawar Zalmi        2    33          60                 2
4    1211644   Lahore Qalandars        1    31          37                 3
5    1211644     Multan Sultans        2     7          17                 0
6    1211645     Peshawar Zalmi        2    21          21                 2
7    1211645  Quetta Gladiators        1    31          31                 2
8    1211646   Islamabad United        2    12          15                 1
9    1211646     Multan Sultans        1    31          51                 3
10   1211647      Karachi Kings        1    30          52                 4
11   1211647  Quetta Gladiators        2    24          41                 2
12   1211648   Islamabad United        2    30          45                 2
13   1211648   Lahore Qalandars        1    31          60                 2
14   1211649     Peshawar Zalmi        1    22          18                 3
15   1211650   Islamabad United        1    30          33                 3
16   1211650  Quetta Gladiators        2    29          57                 1
17   1211651      Karachi Kings        2    12          14                 3
18   1211651     Multan Sultans        1    32          54                 4
19   1211653     Multan Sultans        1    33          67                 2
20   1211653  Quetta Gladiators        2    31          31                 4
21   1211655   Islamabad United        1    30          63                 0
22   1211655      Karachi Kings        2    24          46                 0
23   1211656      Karachi Kings        2    19          24                 1
24   1211656     Peshawar Zalmi        1    34          47                 4
25   1211657   Lahore Qalandars        1    31          69                 2
26   1211657  Quetta Gladiators        2    32          43                 3
27   1211658   Islamabad United        1    32          65                 1
28   1211658   Lahore Qalandars        2    24          38                 1
29   1211660     Multan Sultans        1    11          19                 0
30   1211661   Islamabad United        1    30          45                 2
31   1211662  Quetta Gladiators        1    37          41                 2
32   1211664      Karachi Kings        1    31          72                 1
33   1211664   Lahore Qalandars        2    27          62                 0
34   1211665   Lahore Qalandars        2    31          54                 4
35   1211665     Peshawar Zalmi        1    31          48                 4
36   1211667      Karachi Kings        2    13          26                 0
37   1211667   Lahore Qalandars        1    31          38                 1
38   1211668     Multan Sultans        1    31          47                 1
39   1211668     Peshawar Zalmi        2    36          49                 5
40   1211669   Islamabad United        1    31          36                 1
41   1211669      Karachi Kings        2    27          40                 3
42   1211670   Lahore Qalandars        2    25          45                 0
43   1211670     Multan Sultans        1    32          77                 1
44   1211671      Karachi Kings        1    31          43                 2
45   1211671  Quetta Gladiators        2     8          13                 0
46   1211672      Karachi Kings        2    31          34                 5
47   1211672     Multan Sultans        1    30          50                 2
48   1211673   Lahore Qalandars        2    25          44                 1
49   1211673     Peshawar Zalmi        1    31          50                 4
50   1211675   Lahore Qalandars        1    30          67                 1
51   1211675     Multan Sultans        2    27          37                 4
52   1231146      Karachi Kings        2    22          25                 3
53   1231146   Lahore Qalandars        1    31          40                 3

In [8]:
#all_data_copy = all_data.groupby(["match_id","batting_team"])["total_runs"]
#all_data_copy = all_data_copy [all_data_copy .ball < 6.1]
#all_data_2020_copy = all_data_2020
#all_data_2020_copy = all_data_2020_copy  [all_data_2020_copy  .ball < 6.1]

#all_data_copy_2 = all_data
#all_data_copy_2 = all_data_copy_2 [all_data_copy_2 .ball > 15]
#all_data_2020_copy_2 = all_data_2020
#all_data_2020_copy_2 = all_data_2020_copy_2  [all_data_2020_copy_2  .ball > 15 ]

# First Six Overs Runs

In [9]:
runs_first_six_overs = all_data_First_six_overs.groupby(["match_id","batting_team"])["total_runs"].sum() \
.reset_index(name="runs_first_six_overs").sort_values( by = 'runs_first_six_overs',ascending = False) 





balls_faced_first_six_overs = all_data_First_six_overs .groupby(["match_id","batting_team"])["ball"].count() \
.reset_index(name="balls_faced_first_six_overs").sort_values( by = 'balls_faced_first_six_overs',ascending = False) 






runs_first_six_overs["runrate_first_six_overs"] = runs_first_six_overs["runs_first_six_overs"].div(balls_faced_first_six_overs['balls_faced_first_six_overs'].values,axis=0).apply(lambda x: x*6)


run_rate_first_six_overs = runs_first_six_overs

run_rate_first_six_overs




All_data_copy = All_data_copy.merge(run_rate_first_six_overs, how="left")

All_data_copy = All_data_copy.drop("runs_first_six_overs",axis=1)


All_data_copy

,match_id,batting_team,innings,ball,total_runs,player_dismissed,runrate_first_six_overs
0,1211642,Islamabad United,1,119,168,10,330.0
1,1211642,Quetta Gladiators,2,114,171,7,216.0
2,1211643,Karachi Kings,1,127,201,4,342.0
3,1211643,Peshawar Zalmi,2,124,191,7,300.0
4,1211644,Lahore Qalandars,1,122,138,8,366.0
...,...,...,...,...,...,...,...
60,1211673,Peshawar Zalmi,1,122,170,9,228.0
61,1211675,Lahore Qalandars,1,124,182,6,324.0
62,1211675,Multan Sultans,2,118,157,10,378.0
63,1231146,Karachi Kings,2,117,135,5,258.0
64,1231146,Lahore Qalandars,1,125,134,7,222.0

# Wickets First Six Overs

In [10]:
wickets_lost_six_overs = all_data_First_six_overs.groupby(["match_id","batting_team"])["player_dismissed"].apply(lambda x: (x!='0').sum())\
.reset_index( name = 'wickets_lost_first_six_overs').sort_values( by = 'wickets_lost_first_six_overs',ascending = False) 


wickets_lost_six_overs


All_data_copy = All_data_copy.merge(wickets_lost_six_overs, how="left")



All_data_copy

,match_id,batting_team,innings,ball,total_runs,player_dismissed,runrate_first_six_overs,wickets_lost_first_six_overs
0,1211642,Islamabad United,1,119,168,10,330.0,1
1,1211642,Quetta Gladiators,2,114,171,7,216.0,1
2,1211643,Karachi Kings,1,127,201,4,342.0,1
3,1211643,Peshawar Zalmi,2,124,191,7,300.0,1
4,1211644,Lahore Qalandars,1,122,138,8,366.0,1
...,...,...,...,...,...,...,...,...
60,1211673,Peshawar Zalmi,1,122,170,9,228.0,1
61,1211675,Lahore Qalandars,1,124,182,6,324.0,1
62,1211675,Multan Sultans,2,118,157,10,378.0,1
63,1231146,Karachi Kings,2,117,135,5,258.0,1
64,1231146,Lahore Qalandars,1,125,134,7,222.0,1

# RR Last 5 Overs

In [11]:
runs_last_five_overs = all_data_last_five_overs.groupby(["match_id","batting_team"])["total_runs"].sum() \
.reset_index(name="runs_last_five_overs").sort_values( by = 'runs_last_five_overs',ascending = False) 





balls_faced_last_five_overs = all_data_last_five_overs.groupby(["match_id","batting_team"])["ball"].count() \
.reset_index(name="balls_faced_last_five_overs").sort_values( by = 'balls_faced_last_five_overs',ascending = False)

In [12]:
runs_last_five_overs

    match_id       batting_team  runs_last_five_overs
43   1211670     Multan Sultans                    77
32   1211664      Karachi Kings                    72
25   1211657   Lahore Qalandars                    69
19   1211653     Multan Sultans                    67
50   1211675   Lahore Qalandars                    67
27   1211658   Islamabad United                    65
21   1211655   Islamabad United                    63
33   1211664   Lahore Qalandars                    62
3    1211643     Peshawar Zalmi                    60
13   1211648   Lahore Qalandars                    60
16   1211650  Quetta Gladiators                    57
2    1211643      Karachi Kings                    55
18   1211651     Multan Sultans                    54
34   1211665   Lahore Qalandars                    54
10   1211647      Karachi Kings                    52
9    1211646     Multan Sultans                    51
49   1211673     Peshawar Zalmi                    50
47   1211672     Multan Sultans                    50
39   1211668     Peshawar Zalmi                    49
35   1211665     Peshawar Zalmi                    48
38   1211668     Multan Sultans                    47
24   1211656     Peshawar Zalmi                    47
22   1211655      Karachi Kings                    46
42   1211670   Lahore Qalandars                    45
30   1211661   Islamabad United                    45
12   1211648   Islamabad United                    45
48   1211673   Lahore Qalandars                    44
26   1211657  Quetta Gladiators                    43
44   1211671      Karachi Kings                    43
1    1211642  Quetta Gladiators                    41
31   1211662  Quetta Gladiators                    41
11   1211647  Quetta Gladiators                    41
41   1211669      Karachi Kings                    40
0    1211642   Islamabad United                    40
53   1231146   Lahore Qalandars                    40
37   1211667   Lahore Qalandars                    38
28   1211658   Lahore Qalandars                    38
51   1211675     Multan Sultans                    37
4    1211644   Lahore Qalandars                    37
40   1211669   Islamabad United                    36
46   1211672      Karachi Kings                    34
15   1211650   Islamabad United                    33
20   1211653  Quetta Gladiators                    31
7    1211645  Quetta Gladiators                    31
36   1211667      Karachi Kings                    26
52   1231146      Karachi Kings                    25
23   1211656      Karachi Kings                    24
6    1211645     Peshawar Zalmi                    21
29   1211660     Multan Sultans                    19
14   1211649     Peshawar Zalmi                    18
5    1211644     Multan Sultans                    17
8    1211646   Islamabad United                    15
17   1211651      Karachi Kings                    14
45   1211671  Quetta Gladiators                    13

In [13]:
runs_last_five_overs["runrate_last_five_overs"] = runs_last_five_overs["runs_last_five_overs"].div(balls_faced_last_five_overs['balls_faced_last_five_overs'].values,axis=0).apply(lambda x: x*6)
runs_last_five_overs

    match_id       batting_team  runs_last_five_overs  runrate_last_five_overs
43   1211670     Multan Sultans                    77                    462.0
32   1211664      Karachi Kings                    72                    432.0
25   1211657   Lahore Qalandars                    69                    414.0
19   1211653     Multan Sultans                    67                    402.0
50   1211675   Lahore Qalandars                    67                    402.0
27   1211658   Islamabad United                    65                    390.0
21   1211655   Islamabad United                    63                    378.0
33   1211664   Lahore Qalandars                    62                    372.0
3    1211643     Peshawar Zalmi                    60                    360.0
13   1211648   Lahore Qalandars                    60                    360.0
16   1211650  Quetta Gladiators                    57                    342.0
2    1211643      Karachi Kings                    55                    330.0
18   1211651     Multan Sultans                    54                    324.0
34   1211665   Lahore Qalandars                    54                    324.0
10   1211647      Karachi Kings                    52                    312.0
9    1211646     Multan Sultans                    51                    306.0
49   1211673     Peshawar Zalmi                    50                    300.0
47   1211672     Multan Sultans                    50                    300.0
39   1211668     Peshawar Zalmi                    49                    294.0
35   1211665     Peshawar Zalmi                    48                    288.0
38   1211668     Multan Sultans                    47                    282.0
24   1211656     Peshawar Zalmi                    47                    282.0
22   1211655      Karachi Kings                    46                    276.0
42   1211670   Lahore Qalandars                    45                    270.0
30   1211661   Islamabad United                    45                    270.0
12   1211648   Islamabad United                    45                    270.0
48   1211673   Lahore Qalandars                    44                    264.0
26   1211657  Quetta Gladiators                    43                    258.0
44   1211671      Karachi Kings                    43                    258.0
1    1211642  Quetta Gladiators                    41                    246.0
31   1211662  Quetta Gladiators                    41                    246.0
11   1211647  Quetta Gladiators                    41                    246.0
41   1211669      Karachi Kings                    40                    240.0
0    1211642   Islamabad United                    40                    240.0
53   1231146   Lahore Qalandars                    40                    240.0
37   1211667   Lahore Qalandars                    38                    228.0
28   1211658   Lahore Qalandars                    38                    228.0
51   1211675     Multan Sultans                    37                    222.0
4    1211644   Lahore Qalandars                    37                    222.0
40   1211669   Islamabad United                    36                    216.0
46   1211672      Karachi Kings                    34                    204.0
15   1211650   Islamabad United                    33                    198.0
20   1211653  Quetta Gladiators                    31                    186.0
7    1211645  Quetta Gladiators                    31                    186.0
36   1211667      Karachi Kings                    26                    156.0
52   1231146      Karachi Kings                    25                    150.0
23   1211656      Karachi Kings                    24                    144.0
6    1211645     Peshawar Zalmi                    21                    126.0
29   1211660     Multan Sultans                    19                    114.0
14   1211649     Peshawar Zalmi                    18                    108.0
5    1211644     Multan Sultans                    17                    102.0
8    1211646   Islamabad United                    15                     90.0
17   1211651      Karachi Kings                    14                     84.0
45   1211671  Quetta Gladiators                    13                     78.0

In [14]:
run_rate_last_five_overs = runs_last_five_overs

All_data_copy = All_data_copy.merge(run_rate_last_five_overs, how="left")

All_data_copy = All_data_copy.drop("runs_last_five_overs",axis=1)

All_data_copy

,match_id,batting_team,innings,ball,total_runs,player_dismissed,runrate_first_six_overs,wickets_lost_first_six_overs,runrate_last_five_overs
0,1211642,Islamabad United,1,119,168,10,330.0,1,240.0
1,1211642,Quetta Gladiators,2,114,171,7,216.0,1,246.0
2,1211643,Karachi Kings,1,127,201,4,342.0,1,330.0
3,1211643,Peshawar Zalmi,2,124,191,7,300.0,1,360.0
4,1211644,Lahore Qalandars,1,122,138,8,366.0,1,222.0
...,...,...,...,...,...,...,...,...,...
60,1211673,Peshawar Zalmi,1,122,170,9,228.0,1,300.0
61,1211675,Lahore Qalandars,1,124,182,6,324.0,1,402.0
62,1211675,Multan Sultans,2,118,157,10,378.0,1,222.0
63,1231146,Karachi Kings,2,117,135,5,258.0,1,150.0
64,1231146,Lahore Qalandars,1,125,134,7,222.0,1,240.0

# Wickets Lost Last 5 Overs

In [15]:
wickets_lost_last_five_overs = all_data_last_five_overs.groupby(["match_id","batting_team"])["player_dismissed"].apply(lambda x: (x!='0').sum())\
.reset_index( name = 'wickets_lost_last_five_overs').sort_values( by = 'wickets_lost_last_five_overs',ascending = False) 




#wickets_lost_last_five_overs["avg_wickets_lost_last_five_overs"] = wickets_lost_last_five_overs["wickets_lost_last_five_overs"].div(matches['matches'].values,axis=0)
wickets_lost_last_five_overs

All_data_copy = All_data_copy.merge(wickets_lost_last_five_overs, how="left")



All_data_copy

,match_id,batting_team,innings,ball,total_runs,player_dismissed,runrate_first_six_overs,wickets_lost_first_six_overs,runrate_last_five_overs,wickets_lost_last_five_overs
0,1211642,Islamabad United,1,119,168,10,330.0,1,240.0,1.0
1,1211642,Quetta Gladiators,2,114,171,7,216.0,1,246.0,1.0
2,1211643,Karachi Kings,1,127,201,4,342.0,1,330.0,1.0
3,1211643,Peshawar Zalmi,2,124,191,7,300.0,1,360.0,1.0
4,1211644,Lahore Qalandars,1,122,138,8,366.0,1,222.0,1.0
...,...,...,...,...,...,...,...,...,...,...
60,1211673,Peshawar Zalmi,1,122,170,9,228.0,1,300.0,1.0
61,1211675,Lahore Qalandars,1,124,182,6,324.0,1,402.0,1.0
62,1211675,Multan Sultans,2,118,157,10,378.0,1,222.0,1.0
63,1231146,Karachi Kings,2,117,135,5,258.0,1,150.0,1.0
64,1231146,Lahore Qalandars,1,125,134,7,222.0,1,240.0,1.0

In [293]:
batsman_pca_2020 = pd.read_csv('/Users/39388/Documents/PCA_2020_Batsman.csv')
bowler_pca_2020 = pd.read_csv('/Users/39388/Documents/PCA_2020_Bowlers.csv')

all_data_2020_logReg= all_data_2020_logReg.rename(columns={"batting_team": "team"})

all_data_2020_logReg = all_data_2020_logReg.merge(batsman_pca_2020, how="left")

all_data_2020_logReg= all_data_2020_logReg.rename(columns={"PC1": "batsman_PCA"})

all_data_2020_logReg = all_data_2020_logReg.merge(bowler_pca_2020, how="left")

all_data_2020_logReg= all_data_2020_logReg.rename(columns={"PC1": "bowler_PCA"})